@charset "utf-8";

body{
	color: #000000;
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
	font:
		14px/2
		 "メイリオ", Meiryo,
		 "ＭＳ Ｐゴシック", Osaka,
		 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
		/*文字サイズ/行間、フォントファミリー*/"
}

h2{
	color            : #000;
	text-align       : center;
	margin           : auto;
	background-color : #FFF;
	background       : linear-gradient(#0FF,#0CC);
	border-width     : 50px;
	border-radius    : 30px;
}

header{
	color      : #ff4500;
	font-size  : 50px;
	text-align : center;
}

ul{
	background-color : #FFF;
	background       : linear-gradient(#FFF, #EEE);
	border-radius    : 10px;
}

li{
	color      : #000;
	background : linear-gradient(#FFF, #EEE);
	display    : block;
}

li a:hover{
	color      : #000;
	background : liner-gradiet(#EEE,#FFF);
	display    : block;
}

pre{
	color            : #000;
	background-color : #EEE;
	border-radius    : 50px
}

img{
	width  : 1000px;
	height :  500px;
}

end